################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
.vs
.vscode
bin
node_modules
obj

/Fanda/DataTables.Queryable/bin
/Fanda/DataTables.Queryable/obj
Fanda/DataTables.Queryable/bin
Fanda/DataTables.Queryable/obj
/DataTables.Queryable/bin
/DataTables.Queryable/obj
DataTables.Queryable/bin
DataTables.Queryable/obj

/Fanda/Fanda.Data/bin
/Fanda/Fanda.Data/obj
Fanda/Fanda.Data/bin
Fanda/Fanda.Data/obj
/Fanda.Data/bin
/Fanda.Data/obj
Fanda.Data/bin
Fanda.Data/obj

/Fanda/Fanda.Dto/bin
/Fanda/Fanda.Dto/obj
Fanda/Fanda.Dto/bin
Fanda/Fanda.Dto/obj
/Fanda.Dto/bin
/Fanda.Dto/obj
Fanda.Dto/bin
Fanda.Dto/obj

./Fanda/Fanda.Service/bin
./Fanda/Fanda.Service/obj
Fanda/Fanda.Service/bin
Fanda/Fanda.Service/obj
/Fanda.Service/bin
/Fanda.Service/obj
Fanda.Service/bin
Fanda.Service/obj

/Fanda/Fanda.Shared/bin
/Fanda/Fanda.Shared/obj
Fanda/Fanda.Shared/bin
Fanda/Fanda.Shared/obj
/Fanda.Shared/bin
/Fanda.Shared/obj
Fanda.Shared/bin
Fanda.Shared/obj

./Fanda/FandaCoreUI/bin
./Fanda/FandaCoreUI/obj
Fanda/FandaCoreUI/bin
Fanda/FandaCoreUI/obj
/FandaCoreUI/bin
/FandaCoreUI/obj
FandaCoreUI/bin
FandaCoreUI/obj

./Fanda/FandaTabler/bin
./Fanda/FandaTabler/obj
Fanda/FandaTabler/bin
Fanda/FandaTabler/obj
/FandaTabler/bin
/FandaTabler/obj
FandaTabler/bin
FandaTabler/obj
