################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
.vs
.vscode
bin
node_modules
obj

/Fanda/DataTables.Queryable/bin
/Fanda/DataTables.Queryable/obj
/Fanda/Fanda.Common/bin
/Fanda/Fanda.Common/obj
/Fanda/Fanda.Data/bin
/Fanda/Fanda.Data/obj
/Fanda/FandaCoreUI/bin
/Fanda/FandaCoreUI/obj
