@model ContactDto
@using Fanda.Dto

<tr id="theRow">
    <td>
        @if (ViewBag.Readonly)
        {
            <input asp-for="ContactName" class="form-control" readonly />
        }
        else
        {
            <input asp-for="ContactName" class="form-control" data-template-field="contactName" autofocus />
        }
        <span asp-validation-for="ContactName" class="text-danger"></span>
    </td>
    <td>
        @if (ViewBag.Readonly)
        {
            <input asp-for="ContactTitle" class="form-control" readonly />
        }
        else
        {
            <input asp-for="ContactTitle" class="form-control" data-template-field="contactTitle" />
        }
        <span asp-validation-for="ContactTitle" class="text-danger"></span>
    </td>
    <td>
        @if (ViewBag.Readonly)
        {
            <input asp-for="ContactPhone" class="form-control" readonly />
        }
        else
        {
            <input asp-for="ContactPhone" class="form-control" data-template-field="contactPhone" />
        }
        <span asp-validation-for="ContactPhone" class="text-danger"></span>
    </td>
    <td>
        @if (ViewBag.Readonly)
        {
            <input asp-for="ContactEmail" class="form-control" readonly />
        }
        else
        {
            <input asp-for="ContactEmail" class="form-control" data-template-field="contactEmail" />
        }
        <span asp-validation-for="ContactEmail" class="text-danger"></span>
    </td>
    <td>
        <button class="btn btn-primary" role="button" data-btn="add" data-toggle="tooltip" title="Add" href="#" hidden><i class="icon-plus"></i></button>
        <button class="btn btn-danger" role="button" data-btn="remove" data-toggle="tooltip" title="Remove" href="#"><i class="icon-trash"></i></button>
    </td>
</tr>