@model ContactDto

    <tr>
        <td>
            <input asp-for="Id" type="hidden" />
            <input asp-for="FirstName" class="form-control" autofocus />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="LastName" class="form-control" autofocus />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="Designation" class="form-control" />
            <span asp-validation-for="Designation" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="Department" class="form-control" />
            <span asp-validation-for="Department" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="WorkPhone" class="form-control" type="email" />
            <span asp-validation-for="WorkPhone" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="Mobile" class="form-control" type="email" />
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="IsDeleted" type="hidden" />
            <button class="btn btn-danger" data-toggle="tooltip" title="Remove" type="button" id="btnRemoveContact"><i class="icon-trash"></i></button>
        </td>
    </tr>