@page "/"
@namespace Fanda.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <base href="~/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="msapplication-TileColor" content="#206bc4" />
    <meta name="theme-color" content="#206bc4" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="robots" content="noindex,nofollow,noarchive" />

    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />

    <link href="~/dist/libs/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler.css" rel="stylesheet" />
    <link href="~/dist/css/demo.css" rel="stylesheet" />

    <style>
        body {
            display: none;
        }
        #blazor-error-ui {
            background: lightyellow;
            bottom: 0;
            box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
            display: none;
            left: 0;
            padding: 0.6rem 1.25rem 0.7rem 1.25rem;
            position: fixed;
            width: 100%;
            z-index: 1000;
        }

            #blazor-error-ui .dismiss {
                cursor: pointer;
                position: absolute;
                right: 0.75rem;
                top: 0.5rem;
            }
    </style>

    @*<meta charset="utf-8" />*@
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Fanda</title>
        <base href="~/" />*@
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    @*<link href="css/site.css" rel="stylesheet" />*@
</head>
<body class="antialiased">
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>

    <script src="~/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/libs/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/dist/libs/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/dist/libs/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/dist/libs/peity/jquery.peity.min.js"></script>

    <script src="~/dist/js/tabler.min.js"></script>
    <script src="~/dist/js/dashboard-graph-init.js"></script>

    <script>
        document.body.style.display = "block";
    </script>

</body>
</html>