/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container-fluid > .animated {
    margin-top: 24px !important;
}

.select2 {
    width: 100% !important;
}

select option:hover,
select option:focus,
select option:active {
    background: linear-gradient(#000000, #000000) !important;
    background-color: #000000 !important; /* for IE */
    color: #ffed00 !important;
}

select option:checked {
    background: linear-gradient(#d6d6d6, #d6d6d6) !important;
    background-color: #d6d6d6 !important; /* for IE */
    color: #000000 !important;
}

/*.select2-results {
    background-color: #fff !important;
    color: #5c6873 !important;
}

    .select2-results .select2-highlighted {
        background: #f00 !important;
        color: #5c6873 !important;
    }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f00 !important;
    color: #5c6873 !important;
}

.select2-search {
    background-color: #fff !important;
    color: #5c6873 !important;
}

    .select2-search input {
        background-color: #fff !important;
        color: #5c6873 !important;
    }*/