################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
.vs/
.vscode/
bin/
node_modules/
obj/
**/bin
**/obj
