@model Fanda.ViewModel.Business.PartyCategoryViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="card rounded border-info">
    <div class="card-header border-info">
        <i class="icon-briefcase"></i> Create - Contact Categories
    </div>
    <form asp-action="Create">
        <div class="card-body">
            @Html.HiddenFor(model => model.OrgId)
            @Html.HiddenFor(model => model.CategoryId)

            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Active" class="control-label"></label><br />
                        <div class="custom-switch custom-switch-sm custom-switch-label-io">
                            <input class="custom-switch-input" asp-for="Active" id="chkActive" type="checkbox">
                            <label class="custom-switch-btn" for="chkActive"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mb-0">
                        <button type="button" value="Delete" data-toggle="tooltip" title="Delete" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
                        <a class="btn btn-ghost-primary" data-toggle="tooltip" title="Back to list" asp-action="Index"><i class="icon-list"></i> Back to List</a>
                        <div class="pull-right">
                            <button type="button" value="Cancel" data-toggle="tooltip" title="Cancel changes and continue edit" class="btn btn-ghost-primary"><i class="icon-close"></i> Cancel</button>
                            <button type="submit" value="Save" data-toggle="tooltip" title="Save changes" class="btn btn-success"><i class="icon-check"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $('body').tooltip({ selector: '[data-toggle="tooltip"]' });
        })
    </script>
    @*<script>
            $(function () {
                $('#toggle-one').bootstrapToggle({
                    on: 'Enabled',
                    off: 'Disabled'
                });
            })
        </script>*@
}