
@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="alert alert-icon alert-info" role="alert">
    <i class="fe fe-check mr-2"></i> Your account has been activated! <a href="@Url.Action("Login","Users")"> Login</a>
</div>