@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col col-login mx-auto">
        <div class="header-brand text-center mb-6">
            <img src="~/demo/logo.svg" class="h-6" alt=""> Fanda
        </div>
        <form class="card" method="post">
            <div class="card-body p-6">
                <div class="card-title">Login to your account</div>
                <div class="form-group">
                    <label class="form-label" asp-for="NameOrEmail"></label>
                    <input class="form-control" asp-for="NameOrEmail" aria-describedby="emailHelp" placeholder="Enter name/email" tabindex="1">
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Password">
                        Password
                        <a href="@Url.Action("ForgotPassword")" class="float-right small" tabindex="99">I forgot password</a>
                    </label>
                    <input class="form-control" asp-for="Password" placeholder="Password" tabindex="2">
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" asp-for="RememberMe" tabindex="3"/>
                        <span class="custom-control-label">Remember me</span>
                    </label>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block" tabindex="4">Sign in</button>
                </div>
            </div>
        </form>
        <div class="text-center text-muted">
            Don't have account yet? <a href="@Url.Action("Register")" tabindex="5">Sign up</a>
        </div>
    </div>
</div>
