<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="index">
                <i class="nav-icon icon-speedometer"></i> Dashboard
                @*<span class="badge badge-primary">NEW</span>*@
            </a>
        </li>

        <li class="nav-title">Transactions</li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="colors">
                <i class="nav-icon icon-basket-loaded"></i> Sales
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="typography">
                <i class="nav-icon icon-bag"></i> Purchases
            </a>
        </li>

        <li class="nav-title">Inventory</li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-cursor"></i> Items
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="base-breadcrumb">
                        <i class="nav-icon icon-puzzle"></i> Goods and Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="base-breadcrumb">
                        <i class="nav-icon icon-puzzle"></i> Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="base-breadcrumb">
                        <i class="nav-icon icon-puzzle"></i> Units
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-cursor"></i> Groupings
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-buttons">
                        <i class="nav-icon icon-cursor"></i> Brands
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-button-group">
                        <i class="nav-icon icon-cursor"></i> Segments
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-dropdowns">
                        <i class="nav-icon icon-cursor"></i> Varieties
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-title">Contacts</li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-people"></i> Business
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Parties" asp-action="Index">
                        <i class="nav-icon icon-credit-card"></i> Business Contacts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="PartyCategories" asp-action="Index">
                        <i class="nav-icon icon-briefcase"></i> Contact Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-dropdowns">
                        <i class="nav-icon icon-wallet"></i> Banks
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-title">Reports</li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-cursor"></i> Inventory Reports
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-buttons">
                        <i class="nav-icon icon-cursor"></i> Sales Reports
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-button-group">
                        <i class="nav-icon icon-cursor"></i> Purchase Reports
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-dropdowns">
                        <i class="nav-icon icon-cursor"></i> Stock Reports
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item mt-auto">
            <a class="nav-link nav-link-success" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-dropdowns">
                <i class="nav-icon icon-wrench"></i> Organization Setup
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-danger" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="buttons-dropdowns">
                <i class="nav-icon icon-settings"></i> Settings
            </a>
        </li>

        @*<li class="nav-item mt-auto">
                <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
                    <i class="nav-icon icon-cloud-download"></i> Download CoreUI
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
                    <i class="nav-icon icon-layers"></i> Try CoreUI
                    <strong>PRO</strong>
                </a>
            </li>*@
    </ul>
</nav>