@model Fanda.ViewModel.Business.PartyViewModel

@Html.HiddenFor(model => model.PartyId)
<div class="row">
    @if (ViewData.ModelState.Values.Any() && ViewData.ModelState.ErrorCount > 0)
    {
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @{
                    foreach (var modelState in ViewData.ModelState.Values)
                    {
                        foreach (var error in modelState.Errors)
                        {
                            <span>@error.ErrorMessage</span>
                        }
                    }
                }
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    }
</div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-general-tab" data-toggle="pill" href="#pills-general" role="tab" aria-controls="pills-general" aria-selected="true">General</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contacts-tab" data-toggle="pill" href="#pills-contacts" role="tab" aria-controls="pills-contacts" aria-selected="false">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-addresses-tab" data-toggle="pill" href="#pills-addresses" role="tab" aria-controls="pills-addresses" aria-selected="false">Addresses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-banks-tab" data-toggle="pill" href="#pills-banks" role="tab" aria-controls="pills-banks" aria-selected="false">Banks</a>
    </li>
</ul>
<div class="tab-content border-light" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-general" role="tabpanel" aria-labelledby="pills-general-tab">
        <partial name="_EditGeneral" />
    </div>
    <div class="tab-pane fade" id="pills-contacts" role="tabpanel" aria-labelledby="pills-contacts-tab">
        <div>
            <table id="contacts" class="table table-borderless table-responsive-md">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Title</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        @*<th scope="col" class="text-right">Action</th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @Html.EditorFor(model => model.Contacts)
                    @*@for (int i = 0; i < Model.Contacts.Count; i++)
                        {
                            @Html.EditorFor(m => m.Contacts[i]);
                        }*@
                </tbody>
            </table>
            <button class="btn btn-primary" data-toggle="tooltip" title="Add" type="button" id="btnAddContact"><i class="icon-plus"></i> Add Contact</button>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-addresses" role="tabpanel" aria-labelledby="pills-addresses-tab">Praesent imperdiet, nulla sit amet vehicula volutpat, dolor velit aliquet mauris, a placerat orci urna vitae tellus. In hac habitasse platea dictumst. Donec ut elit eu urna tristique pellentesque. Maecenas dignissim iaculis scelerisque. Aenean ligula neque, efficitur sed elementum id, posuere eget lectus. Sed tristique sollicitudin arcu at interdum. Donec eget gravida nisi, id mollis nibh. Aliquam id accumsan quam. Praesent at suscipit magna. Sed porttitor tincidunt congue. Fusce dignissim dapibus consectetur. Ut bibendum finibus sem eu sodales. Nullam porta nisi lacus, at mollis arcu malesuada at.</div>
    <div class="tab-pane fade" id="pills-banks" role="tabpanel" aria-labelledby="pills-banks-tab">Suspendisse finibus ullamcorper metus, vel bibendum libero rhoncus a. Sed quam purus, imperdiet dapibus eleifend et, vulputate ac augue. Aenean eu faucibus urna, eget auctor orci. Curabitur mollis suscipit quam. Mauris sit amet velit eu mi vulputate eleifend. Ut vitae tortor scelerisque, fermentum dolor a, efficitur nunc. Aliquam aliquam molestie justo lobortis congue.</div>
</div>